(name:"z1_robotiq_140",attached_robots:[(robot_name:"z1",attachment_point:World,joint_type:Fixed,origin:(xyz:(0.0,0.0,0.0),rpy:(0.0,0.0,0.0)),axis:(xyz:(0.0,0.0,0.0)),limit:(lower:-3.14,upper:3.14,effort:0.0,velocity:0.0),dynamics:None,safety_controller:None),(robot_name:"robotiq_140",attachment_point:Link(robot_idx:0,link_name:"link06"),joint_type:Fixed,origin:(xyz:(0.045528,0.0,0.0),rpy:(0.0,1.571,0.0)),axis:(xyz:(0.0,0.0,0.0)),limit:(lower:-3.14,upper:3.14,effort:0.0,velocity:0.0),dynamics:None,safety_controller:None)])