(link_mesh_relative_paths:[None,Some("xarm7/mesh_modules/original_meshes_module/meshes/link_base.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link1.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link2.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link3.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link4.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link5.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link6.stl"),Some("xarm7/mesh_modules/original_meshes_module/meshes/link7.stl"),None])