(name:"b1z1",attached_robots:[(robot_name:"b1",attachment_point:World,joint_type:Floating,origin:(xyz:(0.0,0.0,0.0),rpy:(0.0,0.0,0.0)),axis:(xyz:(0.0,0.0,0.0)),limit:(lower:-6.0,upper:6.0,effort:1.0,velocity:2.0),dynamics:None,safety_controller:None),(robot_name:"z1",attachment_point:Link(robot_idx:0,link_name:"trunk"),joint_type:Fixed,origin:(xyz:(0.192742,0.0,0.085658),rpy:(0.0,0.0,0.0)),axis:(xyz:(0.0,0.0,0.0)),limit:(lower:-3.14,upper:3.14,effort:0.0,velocity:0.0),dynamics:None,safety_controller:None)])