(name:"tester",base_robot_name:"ur5",dead_end_link_names:["wrist_1_link"],fixed_base_joints:[("shoulder_lift_joint",[1.0])],deleted_base_links:["wrist_1_link","wrist_2_link","wrist_3_link","tool0","ee_link"],deleted_base_joints:["wrist_1_joint","wrist_2_joint","wrist_3_joint","wrist_3_link-tool0_fixed_joint","ee_fixed_joint"],adjusted_link_idx_to_base_link_idx_mapping:[0,1,2,3,8,10],base_link_idx_to_adjusted_link_idx_mapping:[Some(0),Some(1),Some(2),Some(3),None,None,None,None,Some(4),None,Some(5)],adjusted_joint_idx_to_base_joint_idx_mapping:[0,1,2,7,9],base_joint_idx_to_adjusted_joint_idx_mapping:[Some(0),Some(1),Some(2),None,None,None,None,Some(3),None,Some(4)])